<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MAI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <div class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/incidents" Match="NavLinkMatch.All">
                <Icon Name="IconName.ExclamationDiamond"/> Incidentes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/route-planner" Match="NavLinkMatch.All">
                <Icon Name="IconName.Map"/> Calculadora de Rutas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/incident-report" Match="NavLinkMatch.All">
                <Icon Name="IconName.Flag"/> Reportar Incidente
            </NavLink>
        </div>
    </div>
</div>
